:root {
  --color-bg: #f6f6f6;
  --color-bg-light: #e8e8e8;
  --color-fg: #0f0f0f;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolbar {
  padding: 0.25em;
  display: flex;
  gap: 0.25em;
}

button {
  border-radius: 4px;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: none;
  outline: none;
}

button:hover {
  background-color: var(--color-bg-light);
}

button[data-active] {
  background-color: var(--color-bg-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1f1f25;
    --color-bg-light: #2f2f35;
    --color-fg: #f6f6f6;
  }
}
